# Presentation - Python Markdown

Autora: Andressa Contarato

Data: 03/09/2020

# Como importar dados do seu computador local

In [ ]:
!pip install RISE # instalation python presentation

In [1]:
# packages
import pandas as pd
import numpy as np

Os dados são oriundos do site da Kaggle, <https://www.kaggle.com/andreazzini/international-airline-passengers>. São dados de número de passageiros de uma companhia aérea ao longo dos anos.

# O Dataset

In [3]:
# dataset
data = pd.read_csv("airline_passengers.csv")

O dataset é composto de duas colunas: a primeira representa o mês que se inicia a coleta de dados e a segunda coluna o número de passageiros contabilizado.

# Análises Descritivas

In [5]:
data.head()

       Mês  Milhares de passageiros
0  1949-01                      112
1  1949-02                      118
2  1949-03                      132
3  1949-04                      129
4  1949-05                      121

Os nomes das colunas são: Mês e Milhares de Passageiros. Onde esse valor de passageiros está em milhares.

In [7]:
data.columns

Index(['Mês', 'Milhares de passageiros'], dtype='object')

Na análise descritiva é possível ver que o maior número de passageiros que a companhia já teve foi de 622 mil enquanto que o mínimo foi de 104 mil.

A média, descrita como:

$$
\sum_{i=1}^{n}\frac{x_{i}}{n}
$$

onde n é o total de dias e $$x_{i}$$ é o número de passageiros em cada dia.

Podemos obter o número médio de pessoas que voaram nessa companhia ao longo dos anos. Em média, 280 mil pessoas, estando muito aquém do maior pico encontrado.

In [6]:
data.describe()

       Milhares de passageiros
count               144.000000
mean                280.298611
std                 119.966317
min                 104.000000
25%                 180.000000
50%                 265.500000
75%                 360.500000
max                 622.000000

# Obrigada!