# R2Py

Motivation: 
This project aims to use R within the Python interface.

References:
- https://rpy2.github.io/doc/latest/html/introduction.html#r-vectors
- https://www.slideshare.net/bytemining/rpy2

In [3]:
# install packages
!pip install rpy2

Collecting rpy2
  Downloading rpy2-3.3.5.tar.gz (174 kB)
     |████████████████████████████████| 174 kB 187 kB/s eta 0:00:01
Requirement already satisfied: pytest in /home/andressa/anaconda3/lib/python3.7/site-packages (from rpy2) (5.4.1)
Requirement already satisfied: jinja2 in /home/andressa/anaconda3/lib/python3.7/site-packages (from rpy2) (2.11.1)
Requirement already satisfied: pytz in /home/andressa/anaconda3/lib/python3.7/site-packages (from rpy2) (2019.3)
Collecting tzlocal
  Downloading tzlocal-2.1-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: cffi>=1.10.0 in /home/andressa/anaconda3/lib/python3.7/site-packages (from rpy2) (1.14.0)
Requirement already satisfied: py>=1.5.0 in /home/andressa/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (1.8.1)
Requirement already satisfied: packaging in /home/andressa/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (20.3)
Requirement already satisfied: attrs>=17.4.0 in /home/andressa/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (19.3.0)
Requirement already satisfied: more-itertools>=4.0.0 in /home/andressa/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (8.2.0)
Requirement already satisfied: pluggy<1.0,>=0.12 in /home/andressa/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (0.13.1)
Requirement already satisfied: wcwidth in /home/andressa/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (0.1.8)
Requirement already satisfied: importlib-metadata>=0.12 in /home/andressa/anaconda3/lib/python3.7/site-packages (from pytest->rpy2) (1.5.0)
Requirement already satisfied: MarkupSafe>=0.23 in /home/andressa/anaconda3/lib/python3.7/site-packages (from jinja2->rpy2) (1.1.1)
Requirement already satisfied: pycparser in /home/andressa/anaconda3/lib/python3.7/site-packages (from cffi>=1.10.0->rpy2) (2.20)
Requirement already satisfied: six in /home/andressa/anaconda3/lib/python3.7/site-packages (from packaging->pytest->rpy2) (1.14.0)
Requirement already satisfied: pyparsing>=2.0.2 in /home/andressa/anaconda3/lib/python3.7/site-packages (from packaging->pytest->rpy2) (2.4.6)
Requirement already satisfied: zipp>=0.5 in /home/andressa/anaconda3/lib/python3.7/site-packages (from importlib-metadata>=0.12->pytest->rpy2) (2.2.0)
Building wheels for collected packages: rpy2
  Building wheel for rpy2 (setup.py) ... done
  Created wheel for rpy2: filename=rpy2-3.3.5-cp37-cp37m-linux_x86_64.whl size=299584 sha256=66b47975dd3c639e13be71925c924c09bb568b71ae54170e29d447a6785d506d
  Stored in directory: /home/andressa/.cache/pip/wheels/0a/94/f9/b8cbaa9f9204b7646d1cf830b19683bb0b36ecff704525840a
Successfully built rpy2
Installing collected packages: tzlocal, rpy2
Successfully installed rpy2-3.3.5 tzlocal-2.1

In [4]:
# package and version
import rpy2
print(rpy2.__version__)

3.3.5

In [6]:
# to understand the situation about your code
import rpy2.situation
for row in rpy2.situation.iter_info():
    print(row)

rpy2 version:
3.3.5
Python version:
3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0]
Looking for R's HOME:
    Environment variable R_HOME: None
    Calling `R RHOME`: /usr/lib/R
    Environment variable R_LIBS_USER: None
R's additions to LD_LIBRARY_PATH:
/usr/lib/R/lib:/usr/lib/x86_64-linux-gnu:/usr/lib/jvm/java-8-oracle/lib/server
R version:
    In the PATH: R version 4.0.2 (2020-06-22) -- "Taking Off Again"
    Loading R library from rpy2: OK
Additional directories to load R packages from:
None
C extension compilation:
  include:
  ['/usr/share/R/include']
  libraries:
  ['R', 'pcre2-8', 'lzma', 'bz2', 'z', 'rt', 'dl', 'm', 'icuuc', 'icui18n']
  library_dirs:
  ['/usr/lib/R/lib']
  extra_compile_args:
  []
  extra_link_args:
  ['-Wl,--export-dynamic', '-fopenmp', '-Wl,-Bsymbolic-functions', '-Wl,-z,relro']

In [8]:
# Importing the top-level sub-package to adjust the R
import rpy2.robjects as robjects

In [40]:
# import r packeges inside python ide
from rpy2.robjects.packages import importr

r_base = importr('base') # the base package into R
r_utils = importr('utils') # R utils for help others packages, for example, packages plot graphs
r_dplyr = importr('dplyr') # to construct queries of the dataset

In [14]:
# test
a = 2
b = 4
2^4

6

In [29]:
# import dataset
robjects.r('data = read.csv(".../airline_passengers.csv")')

R object with classes: ('data.frame',) mapped to:
[StrSexpVector, IntSexpVector]
  Mês: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x7fb06130f348> [RTYPES.STRSXP]
  Milhares.de.passageiros: <class 'rpy2.rinterface.IntSexpVector'>
  <rpy2.rinterface.IntSexpVector object at 0x7fb06130f408> [RTYPES.INTSXP]

In [25]:
# descriptive analysis
robjects.r('str(data)')

'data.frame':	144 obs. of  2 variables:
 $ Mês                    : chr  "1949-01" "1949-02" "1949-03" "1949-04" ...
 $ Milhares.de.passageiros: int  112 118 132 129 121 135 148 148 136 119 ...

<rpy2.rinterface_lib.sexp.NULLType object at 0x7fb07422eac8> [RTYPES.NILSXP]

In [33]:
robjects.r('summary(data)')

R object with classes: ('table',) mapped to:
['Length:1..., 'Class :c..., 'Mode  :c..., NA_character_, ..., 'Median :..., 'Mean   :..., '3rd Qu.:..., 'Max.   :...]

In [34]:
robjects.r('View(data)')

<rpy2.rinterface_lib.sexp.NULLType object at 0x7fb07422eac8> [RTYPES.NILSXP]

In [30]:
robjects.r('dim(data)')

R object with classes: ('RTYPES.INTSXP',) mapped to:
[144, 2]

In [31]:
robjects.r('names(data)')

R object with classes: ('character',) mapped to:
['Mês', 'Milhares.de.passageiros']

In [44]:
robjects.r('plot(data[,2])')

<rpy2.rinterface_lib.sexp.NULLType object at 0x7fb07422eac8> [RTYPES.NILSXP]

In [38]:
robjects.r('data[1,]')

R object with classes: ('data.frame',) mapped to:
[StrSexpVector, IntSexpVector]
  Mês: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x7fb06130fc08> [RTYPES.STRSXP]
  Milhares.de.passageiros: <class 'rpy2.rinterface.IntSexpVector'>
  <rpy2.rinterface.IntSexpVector object at 0x7fb06130fac8> [RTYPES.INTSXP]

In [39]:
robjects.r('mean(data[,2])')

R object with classes: ('numeric',) mapped to:
[280.298611]

In [43]:
robjects.r('filter(data, Milhares.de.passageiros > 500)')

R object with classes: ('data.frame',) mapped to:
[StrSexpVector, IntSexpVector]
  Mês: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x7fb061f74ac8> [RTYPES.STRSXP]
  Milhares.de.passageiros: <class 'rpy2.rinterface.IntSexpVector'>
  <rpy2.rinterface.IntSexpVector object at 0x7fb061f74208> [RTYPES.INTSXP]