# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Avaliação Final</span>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

A avaliação vale 10 pontos. As questões de 1 a 4, caso respondidas da forma correta, totalizam 10 pontos. A última questão é um bônus que, se respondida corretamente, pode ajudar na nota final, ou seja, caso tenha respondido incorretamente uma das questões de 1 a 4, mas tenha acertado a questão bônus, ainda poderá atingir 10 pontos.

<font color='red'>**ATENÇÃO:** Quando terminar de exame, você deve fazer um "upload" do notebook no _moodle_</font>.

Para responder as questões abaixo será necessário fazer uso do arquivo <font style="font-family: monaco">covid.csv"</font> disponível para download no sistema _Moodle_. As colunas do conjunto de dados fornece informações sobre:
- **'Province/State'**: estado ou província onde os casos de COVID19 foram registrados
- **'Country/Region'**: país onde os casos de COVID19 foram registrados
- **'Lat'** e **'Long'**: latitude e longitude de referência
- **'Date'**: data dos registros
- **'Value'**: quantidade de casos registrados

In [1]:
import numpy as np # importando biblioteca numpy
import pandas as pd # importando biblioteca pandas

### Questão 1 (2 pontos)
Considerando os dados contidos no arquivo <font style="font-family: monaco">covid.csv"</font>:

#### a) (0.5 pontos)
Carregue o arquivo "covid.csv" e armazena em um pandas DataFrame.

In [2]:
df = pd.read_csv('/home/andressa/Desktop/covid.csv') # importação da base de dados
df.head() # mostra uma amostra da base de dados

,Province/State,Country/Region,Lat,Long,Date,Value
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
1,NaN,afghanistan,33,65,2020-03-18,22
2,NaN,afghanistan,33,65,2020-03-17,22
3,NaN,afghanistan,33,65,2020-03-16,21
4,NaN,Afghanistan,33,65,2020-03-15,16

#### b) (0.5 pontos)
Elimine a primeira linha do DataFrame, a qual contém a informação:
```python
#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
```

In [3]:
df = df.drop([0]) # remove a primeira linha da base de dados
# df = df.reset_index() # resetando os indices para colocar na forma original
df.head() # mostra uma amostra da base de dados

  Province/State Country/Region Lat Long        Date Value
1            NaN    afghanistan  33   65  2020-03-18    22
2            NaN    afghanistan  33   65  2020-03-17    22
3            NaN    afghanistan  33   65  2020-03-16    21
4            NaN    Afghanistan  33   65  2020-03-15    16
5            NaN    afghanistan  33   65  2020-03-14    11

In [4]:
df = df.reset_index(drop=True) # resetando o indice para iniciar com o valor zero novamente
df

      Province/State Country/Region       Lat     Long        Date Value
0                NaN    afghanistan        33       65  2020-03-18    22
1                NaN    afghanistan        33       65  2020-03-17    22
2                NaN    afghanistan        33       65  2020-03-16    21
3                NaN    Afghanistan        33       65  2020-03-15    16
4                NaN    afghanistan        33       65  2020-03-14    11
...              ...            ...       ...      ...         ...   ...
26329            NaN         zambia  -15.4167  28.2833  2020-01-26     0
26330            NaN         Zambia  -15.4167  28.2833  2020-01-25     0
26331            NaN         Zambia  -15.4167  28.2833  2020-01-24     0
26332            NaN         zambia  -15.4167  28.2833  2020-01-23     0
26333            NaN         zambia  -15.4167  28.2833  2020-01-22     0

[26334 rows x 6 columns]

#### c) (1 ponto)
Verifique qual o tipo de dado da coluna "Value" e converta o tipo para inteiro (<font color='blue'>int</font>).

In [5]:
print('O tipo de dadp da coluna Value é: ', type(df['Value']) ,'\n') # mostra como era a série

# teste
print('Tipo de dado da coluna Value original: ',type(df.iloc[0,5]), '\n') # mostra o tipo de dados
print('Tipo de dado da coluna Value após tratamento: ',type(pd.to_numeric(df.iloc[0,5], downcast='integer')), '\n') # mostra o tipo de dados após tratamento

df.Value = pd.to_numeric(df.Value, downcast='integer') # conversão de str para inteiro

O tipo de dadp da coluna Value é:  <class 'pandas.core.series.Series'>

Tipo de dado da coluna Value original:  <class 'str'>

Tipo de dado da coluna Value após tratamento:  <class 'numpy.int8'>

### Questão 2 (2 pontos)
Devido a um erro de armazenamento de inteiros, alguns países apresentam mais de 8 bilhões de casos de COVID19 (valor da coluna "Value" maior ou igual a 8.000.000.000) 

Elimine as linhas onde o número de casos é maior ou igual a 8 bilhões.

In [6]:
linhas = df[df['Value'] >= 8000000000].index.to_list() # criando uma lista de indices onde o argumento 'acima de 8000000000' é verdadeiro
df = df.drop(linhas) # dropando linhas com esta condicao

In [7]:
df.Value.describe() # testando para ver se realmente foram removidas as linhas

count    26315.000000
mean       153.545772
std       2488.391988
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      67800.000000
Name: Value, dtype: float64

### Questão 3 (3 pontos)
O nome de alguns países estão com a primeira letra em maíuscula e outros não.

Transforme os nomes dos países na coluna "Country/Region" para que contenham apenas letras **minúsculas**.

In [8]:
df['Country/Region'] = df['Country/Region'].str.lower() # colocando todos os caracteres de todos os nomes de países em caixa baixa
print(df['Country/Region'].unique()) # testando para ver se todos os paises estao com o nome em caixa baixa

['afghanistan' 'albania' 'algeria' 'andorra' 'antigua and barbuda'
 'argentina' 'armenia' 'australia' 'austria' 'azerbaijan' 'bahrain'
 'bangladesh' 'barbados' 'belarus' 'belgium' 'benin' 'bhutan' 'bolivia'
 'bosnia and herzegovina' 'brazil' 'brunei' 'bulgaria' 'burkina faso'
 'cambodia' 'cameroon' 'canada' 'central african republic' 'chile' 'china'
 'colombia' 'congo (brazzaville)' 'congo (kinshasa)' 'costa rica'
 "cote d'ivoire" 'croatia' 'cruise ship' 'cuba' 'cyprus' 'czechia'
 'denmark' 'djibouti' 'dominican republic' 'ecuador' 'egypt'
 'equatorial guinea' 'estonia' 'eswatini' 'ethiopia' 'finland' 'france'
 'gabon' 'gambia, the' 'georgia' 'germany' 'ghana' 'greece' 'greenland'
 'guatemala' 'guinea' 'guyana' 'holy see' 'honduras' 'hungary' 'iceland'
 'india' 'indonesia' 'iran' 'iraq' 'ireland' 'israel' 'italy' 'jamaica'
 'japan' 'jordan' 'kazakhstan' 'kenya' 'korea, south' 'kosovo' 'kuwait'
 'kyrgyzstan' 'latvia' 'lebanon' 'liberia' 'liechtenstein' 'lithuania'
 'luxembourg' 'malaysia' 'maldives' 'malta' 'martinique' 'mauritania'
 'mauritius' 'mexico' 'moldova' 'monaco' 'mongolia' 'montenegro' 'morocco'
 'namibia' 'nepal' 'netherlands' 'new zealand' 'nigeria' 'north macedonia'
 'norway' 'oman' 'pakistan' 'panama' 'paraguay' 'peru' 'philippines'
 'poland' 'portugal' 'qatar' 'romania' 'russia' 'rwanda' 'saint lucia'
 'saint vincent and the grenadines' 'san marino' 'saudi arabia' 'senegal'
 'serbia' 'seychelles' 'singapore' 'slovakia' 'slovenia' 'somalia'
 'south africa' 'spain' 'sri lanka' 'sudan' 'suriname' 'sweden'
 'switzerland' 'taiwan*' 'tanzania' 'thailand' 'the bahamas' 'togo'
 'trinidad and tobago' 'tunisia' 'turkey' 'ukraine' 'united arab emirates'
 'united kingdom' 'uruguay' 'us' 'uzbekistan' 'venezuela' 'vietnam'
 'zambia']

### Questão 4 (3 pontos)
Quais são os três países com a maior quantidade de infectados?

Lembre de considerar apenas o maior valor de cada país.

**DICA:** groupby + max

In [21]:
teste = pd.DataFrame(df.groupby(['Country/Region'])['Value'].max()) # pegando o max de cada país
print('Os 3 países que detiveram maiores quantidade de infectados num dia são: ','\n',
      teste.sort_values(by='Value', ascending=False).iloc[0:3,:].index.to_list())

Os 3 países que detiveram maiores quantidade de infectados num dia são:
 ['china', 'italy', 'iran']

### Questão Bonus (2 pontos)
Considerando que a taxa de crescimento diária do vírus é de 1.31, quantos dias até o Brasil atingir 10000 casos?

OBS: A fórmula para a quantidade de pessoas infectada no dia $n$ a partir da quantidade atual é:

$ quantidade\_atual * (1+1.31^{n})$ (dentro do parênteses: 1 mais 1.31 elevado a $n$)

In [ ]:
def covid19(quantidade_atual):   # contagem de dias até o brasil atingir 10000 infectados
    
    n = 1
    while quantidade_atual < 10000: # condição
        quantidade_atual = quantidade_atual*(1+(1.31**n)) # cálculo do crescimento
        n = n+1
    return(n)

In [ ]:
teste=df[df['Country/Region'] == 'brazil'] # filtrando somente Brasil
teste.iloc[0,5]

In [ ]:
covid19(teste.iloc[0,5]) # 5 dias de contágio para atingir 10000 pessoas